* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Arial', sans-serif;
  background-color: #060606;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.header {
  background-image: url('./album-images/header-image.jpg');
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 20vh;
  overflow: hidden;
}

h1 {
  font-size: 10vw;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;


  color: white;
  background: linear-gradient(90deg,
      #fff 30%,
      #ff1493 50%,
      #fff 70%,
      #eeefbe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% auto;
  display: inline-block;
  animation: shimmer 3s linear forwards;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 10px;
}

.panel {
  position: fixed;
  top: 20vh;
  right: -100%;
  /* Start off-screen */
  width: 500px;
  height: calc(100% - 20vh);
  /* Adjust height to fit below the header */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: right 0.9s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

select {
  background-color: #000;
  color: #fff;
  border: 1px solid #734a58;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  /* Remove default styling in Safari */
  -moz-appearance: none;
  /* Remove default styling in Firefox */
  transition: box-shadow 0.3s ease;
}

select:focus {
  box-shadow: 0 0 10px rgba(115, 74, 88, 0.8);
}

.apply {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.apply:hover {
  filter: invert(1);
  transform: translateY(-5px);
}

.apply:active {
  transform: scale(0.95);
  background-color: #555;
}

.panel.show {
  right: 0;
}

.closePanel {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  transition: transform 0.2s, color 0.2s;
  padding: 5px;
  border-radius: 50%;
}

.closePanel:hover {
  transform: scale(1.5);
  color: #800080;
}

.closePanel:active {
  transform: scale(1);
  color: #ff69b4;
}

.button {
  padding: 10px 20px;
  text-align: center;
  background-color: rgb(18, 2, 12);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid pink;
  border-radius: 4px;
}

.button:hover {
  background-color: grey;
}

.button.active {
  background-color: rgb(63, 6, 63);
}

.random-button {
  padding: 10px 20px;
  margin-top: 10px;
  /* background-color: #4f045d; */
  background-color: rgb(18, 2, 12);
  border: 2px solid purple;
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border-radius: 4px;
}

.random-button:hover {
  background-color: #734a58;
}

.random-button.clicked {
  background-color: #80408c;
  border: 2px solid purple;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  max-width: 100%;
  padding: 20px;
}

.album-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  width: 90%;
  max-width: 300px;
  background-color: #1b2028;
  border-radius: 16px;
  position: relative;
  border: 3px solid transparent;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  background-image: linear-gradient(135deg,
      rgba(117, 46, 124, 0.35),
      rgba(115, 74, 88, 0.1) 15%,
      #1b2028 20%,
      #1b2028 100%);
}

.album-card:after {
  content: "";
  display: block;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: -1;
  position: absolute;
  border-radius: 16px;
  background-image: linear-gradient(135deg,
      #752e7c,
      #734a58 20%,
      #1b2028 30%,
      #2c333e 100%);
}

.album-art {
  border-radius: 5%;
  overflow: hidden;
  width: 175px;
  height: 175px;
  position: relative;
}

.album-art img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.album-card h2 {
  margin: 10px 0;
  font-size: 1.5em;
}

.album-card p {
  margin: 5px 0;
  color: #f1f3f3;
}

footer {
  border-top: 4px dotted white;
  margin-top: 4%;
  color: white;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer .personal-info-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

footer h4 {
  font-size: 1rem;
  margin: 5px 0;
  text-align: center;
}

footer i {
  margin-right: 8px;
}

footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: purple;
}

/* For mobile screens */
@media (max-width: 768px) {
  .panel {
    width: 100%;
  }

  .button {
    font-size: 14px;
  }

  .random-button {
    font-size: 14px;
  }

  footer {
    margin-bottom: 4px;
  }

  footer .personal-info-items {
    display: flex;
    justify-content: center;
    padding: 5%;
    font-size: 6px;
    gap: 5px;
    width: 100%;
  }

  .album-container {
    flex: 1 1 calc(40% - 20px);
    box-sizing: border-box;
    overflow: hidden;
  }

  .album-card {
    width: 45%;
    padding: 2.2%;
  }

  .album-art {
    width: 100%;
  }

  .album-card h2 {
    font-size: .75em;
    margin: 10px 0px 0px 0px;
  }

  .album-card p {
    font-size: .65em;
  }

  .more-info {
    display: none;
  }

  @media (min-width: 900px) {
    h1 {
      font-size: 7vw;
    }
  }
}